*
{
    padding: 0;
    margin: 0 auto;
}

html,body
{
    height:100%;
   background-image: url(../img/fondo_01.png);
}


.anton {font-family: 'Anton', sans-serif; font-weight: 500; letter-spacing: 0.05em;}

.cairo {font-family: 'Cairo', sans-serif;}

.rojo { color: #bf1d2c;}

.amarillo { color: #f7931f;}

.dorado { color: #c97719;}

.gris { color: #282523;}

.gris-claro { color: #cfcfcf;}

.blanco { color: white;}


.bg-rojo { background-color: #bf1d2c;}

.bg-amarillo { background-color: #f7931f;}

.bg-dorado { background-color: #c97719;}

.bg-gris { background-color: #282523;}

.bg-gris-claro { background-color: #cfcfcf;}

.bg-blanco { background-color: white;}

a { text-decoration: none;}



.logo
{
    position: absolute;
    left: 5%;
}

main
{
    border-top: 25px solid #f7931f;
   
}

.barra-amarilla
{
    height: 100vh;
}

form input
{
    display: block;
}

.comentario
{
    width: 90%;
}

table tr, table td
{
    border: 2px solid #f7931f;
}
/*.modal-content{ background-image: url(../img/fondo_01.png);*/
}


@media screen and (max-width: 1024px) {
   .mq { 
       font-size: 30px;
       position: relative;
       right: 15px;
  }
    
    .mq1 img{
        width: 30px;
        position: relative;
        right: 35px;
        top: 5px;
      
    
    }
    
}



@media screen and (max-width: 768px) {
   .mq { 
       font-size: 26px;
       position: relative;
       right: 15px;
       top: 3px;
  }
    
    .mq1 img{
        width: 28px;
        position: relative;
        right: 35px;
        bottom: 5px;
    
    
    }
    
}



@media screen and (max-width: 540px) {
   .mq { 
       font-size: 22px;
       position: relative;
       right: 15px;
         top: 8px;
  }
    
    .mq1 img{
        width: 25px;
        position: relative;
        right: 35px;
       
      
    
    }
    
}

@media screen and (max-width: 425px) {
   .mq { 
       font-size: 20px;
       position: relative;
       right: 15px;
       top: 8px;
  }
    
    .mq1 img{
        width: 25px;
        position: relative;
        right: 35px;
       
      
    
    }
    
}


  